# Local development:
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Vercel deployment:
# NEXT_PUBLIC_API_URL=https://rsgalaxybackend.onrender.com/api

NEXT_PUBLIC_APP_NAME=RS Galaxy Hotel
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
